<!--Start slogan area--><br><br><br><br>
<section class="slogan-area">
    <div class="container">
        <div class="slogan-content-box">
            <div class="slogan-content-box-bg"
                style="background-image: url(assets/front/images/backgrounds/téléchargement1.jfif);"></div>
            <div class="inner-title">
                <h2>Experience a New Digital World.</h2>
                <p>Web Trading application with new & exciting features.</p>
            </div>
           
        </div>
    </div>
</section>
<section class="slogan-area">
    <div class="container">
        <div class="slogan-content-box">
            <div class="slogan-content-box-bg"
                style="background-image: url(assets/front/images/backgrounds/aaa.jpg);"></div>
            <div class="inner-title">
                <h2>Important</h2>
                <p>Trading and investing involves significant level of risk and is not suitable and/or appropriate for all clients. Please make sure you carefully consider your investment objectives, level of experience and risk appetite before buying or selling. Buying or selling entails financial risks and could result in a partial or complete loss of your funds, therefore, you should not invest funds you cannot afford to lose. You should be aware of and fully understand all the risks associated with trading and investing, and seek advice from an independent financial advisor if you have any doubts. You are granted limited non-exclusive rights to use the IP contained in this site for personal, non-commercial, non-transferable use only in relation to the services offered on the site.</p>
            </div>
           
        </div>
    </div>
</section>
<!--End slogan area-->


<!--Start footer area -->
<footer class="footer-area">
   
                <!--End single footer widget-->

                <!--Start single footer widget--><br><br>
                
                <!--End single footer widget-->

                <!--Start single footer widget-->
               
                <!--End single footer widget-->
            
        
    <!--End Footer Top-->

    <!--Start Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo-style1">
                                
                                <img src="assets/front/images/default.png" style="height: 150px;width: 200px;" alt="Awesome Logo" title="">
                                
                            </div>
                            <div class="copyright-text">
                                <p>
                                    Copyright &copy; 2023 <a href="index.html">Safetrader.</a> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget marbtm50">
                        <div class="footer-widget-contact-info">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="tel:+216 52 359 577">+216 51543509</a>
                                    </h3>
                                    <p>Customer Care</p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <div class="single-footer-widget-right-colum">
                            <ul>
                            
                                <li>
                                    <a routerLink="/user/addclaim">
                                        Register Your Complaint
                                        <span class="icon-feedback"></span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

            </div>
        </div>
    </div>
    <!--End Footer-->

    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-inner">
                <div class="footer-menu">
                    <ul>
                        
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Online Security Tips</a></li>
                    </ul>
                </div>
                <div class="footer-social-link">
                    <ul class="clearfix">
                       
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                      
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
<!--End footer area-->


