
<header class="main-header main-header-style1">


    <nav class="main-menu main-menu-style1">
        <div class="main-menu__wrapper clearfix">
            <div class="container">
                <div class="main-menu__wrapper-inner">

                    <div class="main-menu-style1-left">
                        <div class="logo-box-style1">
                            
                            <img src="assets/front/images/default.png" style="height: 140px;width: 250px;" alt="Awesome Logo" title="">
                        </div>

                        <div class="main-menu-box">
                            <a href="#" class="mobile-nav__toggler">
                                <i class="icon-menu"></i>
                            </a>

                            <ul class="main-menu__list" style="margin-right: 100px;">
                                <li >
                                    <a routerLink="/user">Home</a>
                                    
                                </li>
                                <li >
                                    <a routerLink="/user">Financial News</a>
                                    
                                </li>
                                <li >
                                    <a routerLink="/user">Formation</a>
                                    
                                </li>
                                <li >
                                    <a routerLink="/user">Simulator</a>
                                    
                                </li>
                                <li class="dropdown">
                                    <a href="#">Claims</a>
                                    <ul>
                                        <li><a routerLink="/user/claims">Consulte my claims</a></li>
                                        <li><a routerLink="/user/addclaim">Add claim</a></li>
                                        
                                    </ul>
                                </li>
                                
                           
                
                                        <li class="dropdown">
                                            
                                            <img alt="Profile Picture" class="circular-image" src="data:image/jpeg;base64,{{currentUser.userPhoto}}" style="width: 50px;height: 50px;">
                                           <span style="font-weight: bold;">     {{currentUser.userName}}</span>
                                        
                                            <ul>
                                                
                                                
                                                <li>
                                                    <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
                                                    <label style="color: grey;" for="fileInput" class="file-label">Change photo</label>
                                                  </li>
                                                  <li>
                                                    <a (click)="uploadPhoto()" style="cursor: pointer;" *ngIf="fileInputClicked">Confirm change photo</a>
                                                  </li>
                                                
                                                <li><a routerLink="/user/updatepassword">Account settings</a></li>
                                                <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
                                               
                                            </ul>
                                        </li>      
                               
                               
                                
                                
                                
                                    
               
            </ul>
                            
                        </div>
                    </div>

                    <div class="main-menu-style1-right">
                        <div class="header-btn-one">
                            <a href="#">
                                <span class="icon-home-button"></span>Login 
                            </a>
                            <a class="style2" href="#">
                                <span class="icon-payment"></span>Open an Account
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <section class="main-slider main-slider-style1">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
            "effect": "fade",
            "pagination": {
            "el": "#main-slider-pagination",
            "type": "bullets",
            "clickable": true
            },
            "navigation": {
            "nextEl": "#main-slider__swiper-button-next",
            "prevEl": "#main-slider__swiper-button-prev"
            },
            "autoplay": {
            "delay": 5000
            }}'>
            </div>
            </section>
    <!--Start Main Header Style1 Bottom-->
    <div class="main-header-style1-bottom">
        <div class="auto-container">
            <div class="outer-box">
                
                <div class="slogan-box">
                    <p>Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End Main Header Style1 Bottom-->
    

</header>
