<div class="table-responsive">
  <table class="table-bordered" id="Table" width="50%" cellspacing="0" style="margin-left: 350px;">
    <thead>
    <tr>
      <th style="background-color: #131722; color: aliceblue;">Instrument</th>
      <th style="background-color: #131722; color: aliceblue;">Quantity</th>
      <th style="background-color: #131722; color: aliceblue;">Sell Quantity</th>
      <th style="background-color: #131722; color: aliceblue;">Sell now</th>
      <th style="background-color: #131722; color: aliceblue;">Sell later </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instrument of instruments">
      <td>{{ instrument.name }}</td>
      <td>{{ instrument.quantite }}</td>
      <td>
        <input type="number" [(ngModel)]="sellQuantity[instrument.symbole]" min="0" max="{{ instrument.quantite }}" required>
      </td>
      <td>
        <button class="btn btn-primary" type="submit" (click)="sellInstrument(instrument.symbole)" style="background-color: #FFFFFF;color: #0b0b0b">Sell</button>
      </td>
<td>
  <button class="btn btn-secondary" [routerLink]="['/sell', instrument.symbole]">Sell Later</button>

</td>
    </tr>
    </tbody>
  </table>
</div>
