
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #2C3E50"id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" routerLink="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                  
                    <div class="sb-sidenav-menu-heading">Tables</div>
                   

                    <a class="nav-link " routerLink="/admin/users">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Utilisateurs
                        
                    </a>
                    


                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Formations
                        
                    </a>
                    
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Transactions
                        
                    </a>
                    
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Actualités
                        
                    </a>
                    
                    
                    
                    <a class="nav-link" routerLink="/admin/claim">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Reclamations
                    </a>
                </div>
               </div> 
                </nav>
            
            </div>
         
          
        