
  <div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
      <img src="assets/front/images/default.png" width=60px><br>
      <h2>Forget password</h2>
      <div  *ngIf="errorMessage" class="error-message"style="color:red;margin-left:17px">
        {{ errorMessage }}
      </div>
      <div  *ngIf="Sucessmessage" class="error-message"style="color:green;margin-left:10px">
        {{ Sucessmessage }}
      </div>
        <input type="email"
        [(ngModel)]="email"
        name="email"
        id="userName"
        placeholder="Enter your email"
        class="form-control mb-3"
        >
        <button class="btn btn-outline-primary form-control rounded-0" (click)="sendPasswordResetRequest()">Send</button>
        
    
      
      <h2>&nbsp;</h2>
      <button><a routerLink=""> login </a></button>
    </div>
    
  </div>