<h2 style="margin-left: 500px;color: white;"> My Transaction History</h2>
<div  class="table-responsive">
    <table  class=" table-bordered" id="Table"  width="50%" cellspacing="0" style="margin-left: 350px;">
<thead>
<tr>

<th style="background-color: #131722;color: aliceblue;">date</th>
<th style="background-color: #131722;color: aliceblue;">Type</th>
<th style="background-color: #131722;color: aliceblue;">Instrument</th>
<th style="background-color: #131722;color: aliceblue;">Quantity</th>
<th style="background-color: #131722;color: aliceblue;">gain/loss</th>
</tr>
</thead>
<tbody>