<!--Start Single Swiper Slide-->


<br><br><br>

    
    
    


<!--End Single Swiper Slide-->
<!-- /.stricky-header -->



<!--Main Slider Start-->
<section class="main-slider main-slider-style1">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
        <div class="swiper-wrapper">
           

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/front/images/backgrounds/trading-1044075.jpg);">
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider-content">
                                <div class="main-slider-content__inner">
                                    <div class="big-title">
                                        <h2>{{ greeting }},<br> {{currentUser.userName}}</h2>
                                    </div>
                                    <div class="text">
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/front/images/backgrounds/tranding-a.jpeg);">
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider-content">
                                <div class="main-slider-content__inner">
                                    <div class="big-title">
                                        <h2>{{ greeting }},<br> {{currentUser.userName}}</h2>
                                    </div>
                                    <div class="text">
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
           
            <!--End Single Swiper Slide-->


        </div>

        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <i class="icon-chevron left"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <i class="icon-chevron right"></i>
            </div>
        </div>

    </div>
</section>
<!--Main Slider End-->

<!--Start Features Style1 Area-->

<!--End Features Style1 Area-->

<!--Start Service Style1 Area-->

<!--End Service Style1 Area-->

<!--Start Wealth Secure Area-->
<section class="wealth-secure-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Grow Your Wealth Secure</h2>
            <div class="sub-title">
                <p>Don’t just make a deposit, make an investment today.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="owl-carousel owl-theme thm-owl__carousel wealth-secure-carousel-2 owl-nav-style-one"
                    data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 30,
                    "nav": false,
                    "dots": true,
                    "smartSpeed": 500,
                    "autoplayTimeout": 10000,
                    "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                    "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 2
                            },
                            "992": {
                                "items": 3
                            },
                            "1200": {
                                "items": 4
                            }
                        }
                    }'>


                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-1.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Bonds</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Bonds are essentially loans made by investors to corporations or governments.
                                </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style2">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-2.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Real Estate</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Investing in real estate can potentially provide both rental income and long-term appreciation. </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style3">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-3.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Stocks</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Stocks represent ownership in a company and can potentially provide 
                                strong returns over the long-term.</p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                     <!--Start Single Wealth Secure Box-->
                     <div class="single-wealth-secure-box">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-1.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Bonds</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Bonds are essentially loans made by investors to corporations or governments.
                                </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style2">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-2.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Real Estate</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Investing in real estate can potentially provide both rental income and long-term appreciation. </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style3">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-3.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Stocks</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Stocks represent ownership in a company and can potentially provide 
                                strong returns over the long-term.</p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                      <!--Start Single Wealth Secure Box-->
                      <div class="single-wealth-secure-box">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-1.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Bonds</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Bonds are essentially loans made by investors to corporations or governments.
                                </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style2">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-2.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Real Estate</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Investing in real estate can potentially provide both rental income and long-term appreciation. </p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->
                    <!--Start Single Wealth Secure Box-->
                    <div class="single-wealth-secure-box style3">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img src="assets/front/images/resources/wealth-secure-3.jpg" alt="">
                            </div>
                            <div class="inner-title">
                                <div class="arrow-top"></div>
                                <div class="arrow-bottom"></div>
                                <h3><a href="#">Stocks</a></h3>
                                <div class="right-arrow-btn">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-box">
                            <p> Stocks represent ownership in a company and can potentially provide 
                                strong returns over the long-term.</p>
                        </div>
                    </div>
                    <!--End Single Wealth Secure Box-->

                </div>
            </div>
        </div>
    </div>
    
<!--End Wealth Secure Area-->



                        
                          

















